<!-- <ion-header>
  <ion-navbar>
    <ion-title>Pedidos de la Obra</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h6>Seleccione el estatus del pedido...</h6>
  <form [formGroup]="frmData">
    <ion-list>
      <ion-item>
        <ion-label stacked><small>Estatus</small></ion-label>
        <ion-select name="estatus" [formControl]="frmData.controls['estatus']" (ionChange)="onChange(frmData.controls.estatus.value)">
          <ion-option *ngFor="let estatus of arrEstatus" [value]="estatus">{{ estatus }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content> -->


<ion-header>
  <ion-navbar>
    <ion-title>Información del pedido</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img src="assets/imgs/instrumentos.png" width="50%" style="margin-left: 25%">
  <h1 text-center>{{ pedido.nombre }}</h1>  
  <p style="font-size: 18px;"><b>Frente: </b> {{ pedido.frente }} </p>
  <p style="font-size: 18px;"><b>Descripción: </b> {{ pedido.descripcion }} </p>
  <p style="font-size: 18px;"><b>Estado: </b> {{ pedido.estado }} </p>
  <p style="font-size: 18px;"><b>Usuario: </b> {{ pedido.usuCreacion }} </p>
  <p style="font-size: 18px;"><b>Fecha: </b> {{ pedido.fechCreacion }} </p>
    
  <hr>
  <h3 text-center>Actualizar estatus</h3>  
  <ion-item>  
    <ion-label stacked><small>Estatus</small></ion-label>
    <ion-select name="estatus" [formControl]="frmData.controls['estatus']" (ionChange)="onChange(frmData.controls.estatus.value)">
      <ion-option *ngFor="let estatus of arrEstatus" [value]="estatus">{{ estatus }}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>

