<ion-header>
  <ion-navbar>
    <ion-title>
      Registrar Avance
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button clear float-right color="success" (click)="tomarFoto()">Cargar Comprobante</button>

  <form [formGroup]="frmData" (ngSubmit)="registrarPedido()">
    <ion-list>

      <ion-label color="danger" float-right><small>* Campos Requeridos</small></ion-label>

      <ion-item *ngIf="false">
        <ion-input name="usuCreacion" type="text" [formControl]="frmData.controls['usuCreacion']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked><small>Obra *</small></ion-label>
        <ion-select name="fk_obras" [formControl]="frmData.controls['fk_obra']">
          <ion-option *ngFor="let obra of obras" [value]="obra.id_obra">{{ obra.identificador_obra }}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label stacked *ngIf="showLabels"><small>Avance *</small></ion-label>
        <ion-input name="avance" type="text" placeholder="Avance *" [formControl]="frmData.controls['avance']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked *ngIf="showLabels"><small>Semana *</small></ion-label>
        <ion-input name="semana" type="text" placeholder="Semana *" [formControl]="frmData.controls['semana']"></ion-input>
      </ion-item>      

      <ion-item>
        <ion-label stacked><small>Periodo Inicial *</small></ion-label>
        <!-- <ion-datetime name="periodoInicial" displayFormat="DDD D/MMM/YYYY" pickerFormat="DDD D/MMM/YYYY" [formControl]="frmData.controls['periodoInicial']" [dayValues]="diasLunesMes" [monthValues]="mesActual" [yearValues]="anyoActual"></ion-datetime> -->
        <ion-datetime (ionBlur)="onChange(frmData.controls.periodoInicial)" name="periodoInicial" displayFormat="DDD D/MMM/YYYY" pickerFormat="DDD D/MMM/YYYY" [formControl]="frmData.controls['periodoInicial']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label stacked><small>Periodo Final *</small></ion-label>
        <!-- <ion-datetime name="periodoInicial" displayFormat="DDD D/MMM/YYYY" pickerFormat="DDD D/MMM/YYYY" [formControl]="frmData.controls['periodoInicial']" [dayValues]="diasLunesMes" [monthValues]="mesActual" [yearValues]="anyoActual"></ion-datetime> -->
        <ion-datetime disabled name="periodoFinal" displayFormat="DDD D/MMM/YYYY" pickerFormat="DDD D/MMM/YYYY" [formControl]="frmData.controls['periodoFinal']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label stacked *ngIf="showLabels"><small>Comentarios *</small></ion-label>
        <ion-textarea rows="5" name="comentario" placeholder="Comentarios" style="margin-top: 4px; margin-bottom: 4px;" [formControl]="frmData.controls['comentario']"></ion-textarea>
      </ion-item>     

    </ion-list>

    <button ion-button type="submit" color="success" block>Enviar Pedido</button>
  </form>

  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-content padding>
  <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>
 
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
 -->
